<script>
	function createnode(me) {
		$(".createnode").slideToggle();
	}
	function createattribute(me) {
		$(".createattribute").slideToggle();
	}
</script>

<div class="tabs"></div>

<div id="mychildren" class="mychildren table sortable tab_view"
     data-icon="◯" data-label="CONTAINER" >
    <div class="table_row table_head">
        <div class="table_cell sortby" onclick="sortby(this)">ID</div>
        <div class="table_cell sortby" onclick="sortby(this)">type</div>
        <div class="table_cell sortby" onclick="sortby(this)">name</div>
        <div class="table_cell sortby" onclick="sortby(this)">updated</div>
        <div class="table_cell sortby" onclick="sortby(this)">flags</div>
        <div class="table_cell">
            <button onclick="createnode(this)">+</button>
        </div>
    </div>
    <div class="table_row createnode" style="display: none;">
        <div class="table_cell"></div>
        <div class="table_cell">
            <select id="newnode_type">


            </select>
        </div>
        <div class="table_cell">
            <input id="newnode_name" type="text" name="name">
        </div>
        <div class="table_cell"></div>
        <div class="table_cell"></div>
        <div class="table_cell">
            <button data-forname="newnode_name" data-fortype="newnode_type"
                    onclick="addMyChild(this)">create</button>
        </div>
    </div>
	<div class="dchildren tbody" data-type="mychildren" data-template="htmlrow" data-sort="updated"></div>

</div>

<div id="templates" class="tab_view table dchildren" data-type="templates.HtmlTemplate" data-icon="◧"
     data-label="TEMPLATES" style="display: none;" data-template="htmlrow" data-sort="updated">
    <div class="table_row table_head">
        <div class="table_cell sortby" onclick="sortby(this)">ID</div>
        <div class="table_cell sortby" onclick="sortby(this)">type</div>
        <div class="table_cell sortby" onclick="sortby(this)">name</div>
        <div class="table_cell sortby" onclick="sortby(this)">updated</div>
        <div class="table_cell sortby" onclick="sortby(this)">flags</div>
        <div class="table_cell">
            <button onclick="createnode(this)">+</button>
        </div>
    </div>
    <div class="table_row createnode" style="display: none;">
        <div class="table_cell"></div>
        <div class="table_cell">
            <select id="newtemplate_type">
                <option value="templates.HtmlTemplate">Template</option>
            </select>
        </div>
        <div class="table_cell">
            <input id="newtemplate_name" type="text" name="name">
        </div>
        <div class="table_cell"></div>
        <div class="table_cell"></div>
        <div class="table_cell">
            <button data-forname="newtemplate_name"
                    data-fortype="newtemplate_type" onclick="addMyChild(this)">create</button>
        </div>
    </div>
</div>


<div id="attrs" class="attrs table tab_view" data-icon="▲"
     data-label="ATTRIBUTES" style="display: none;">
    <div style="display: table-column-group;">
        <div span="1" style="width: 15%;display:table-column;"></div>
        <div span="1" style="width: 70%;display:table-column;"></div>
        <div span="1" style="width: 15%;display:table-column;"></div>
    </div>
    <div class="table_row createnode">
        <div class="table_cell">
            <input id="newattr_name" type="text" name="name">
        </div>
        <div class="table_cell">

        </div>

        <div class="table_cell">
            <button data-forname="newattr_name" data-fortype="newattr_type"
                    onclick="addAttr(ID, $('#newattr_name').val())">add</button>
        </div>
    </div>

</div>
<div id="comments" class="tab_view"   data-icon="C" data-label="DISCUSSION"  style="display: none;">
    <div class="dchildren unfilled" data-type="core.Comment" data-template="default"></div>
    <textarea hidden></textarea>
    <button onclick="reply(this)">reply</button>
</div>
<div class="tab_view" data-icon="◱" data-label="STATS" hidden>
    REQUESTS: <span class="attribute" data-name="request_count"></span>
</div>
<div id="sessions" class="tab_view table dchildren" data-type="core.Session" data-icon="◧"
     data-label="SESSIONS" style="display: none;" data-template="htmlrow"></div>
<div id="pictures" class="tab_view table dchildren" data-type="core.Picture" data-icon="P"
     data-label="Pictures" style="display: none;" data-template="htmlrow">
	<div class="table_row createnode" style="display: none;">
        <div class="table_cell"></div>
        <div class="table_cell">
            <select id="newtemplate_type">
                <option value="core.Picture">Picture</option>
            </select>
        </div>
        <div class="table_cell">
            <input id="newtemplate_name" type="text" name="name">
        </div>
        <div class="table_cell"></div>
        <div class="table_cell"></div>
        <div class="table_cell">
            <button data-forname="newtemplate_name"
                    data-fortype="newtemplate_type" onclick="addMyChild(this)">create</button>
        </div>
    </div>	 
	
</div>


<script>
	var body = $("body");
	var loaders = [];

	$(window).scroll(function () {
		var myc = $("#mychildren");
		var bottom = myc.offset().top + myc.outerHeight(true);
		//console.log(($(window).scrollTop()+body.height())-bottom);
		if (($(window).scrollTop() + body.height()) - bottom > 0)
		{
			var arrayLength = loaders.length;
			for (var i = 0; i < arrayLength; i++) {
				loaders[i].send(JSON.stringify({cmd: "next"}));
			}
		}

	});

	function loadMore(ws) {
		var myc = $("#mychildren");
		var bottom = myc.offset().top + myc.outerHeight(true);
		if ((body.scrollTop() + body.height()) - bottom > 0)
			ws.send(JSON.stringify({
				cmd: "next"
			}));
	}
	var order_by = "order_id";
	var desc = false;

	function getMyChildren(container, filter, template, sort_by, desc) {
		filter.parent = ID;
		var find = {
			cmd: "find",
			filter: filter
		};
		if (template)
			find.template = template;
		if (sort_by){
			debugger;
			var sort={};
			sort[sort_by]=-1;
			find["sort"] = sort;
		}
		if (desc)
			find["desc"] = true;

		var mychildrenloader = new WebSocket(wsUri);
		loaders.push(mychildrenloader);

		mychildrenloader.onmessage = function (e) {
			var ws = e.currentTarget;
			try {
				var event = JSON.parse(e.data);
			} catch (err) {
				console.log("parse error:" + e.data);
				return;
			}
			var node = event.node;
			ws.hasnext = event.hasnext;
			switch (event.cmd)
			{
				case "first":
					if (event.hasnext)
						ws.send(JSON.stringify({
							cmd: "next"
						}));
				case "entry":
					if (node) {
						var node_html = $(node.template);
						container.append(node_html);
						node_html.hide();

						node_html.slideDown();
					}
					if (event.hasnext)
						if (typeof ws.nextCallback == "function")
							ws.nextCallback(ws);
					break;
			}
		};
		mychildrenloader.nextCallback = loadMore;
		mychildrenloader.onopen = function () {
			mychildrenloader.send(JSON.stringify(find));
		};
	}


	function addSession(ID, event_callback) {
		var evl = new WebSocket(wsUri);

		evl.onmessage = function (e) {
			var ws = e.currentTarget;
			try {
				var event = JSON.parse(e.data);
			} catch (err) {
				console.log("parse error:" + e.data);
				return;
			}
		};
		var cmd = {cmd: "addSession", parent: ID};
		evl.onopen = function () {
			evl.send(JSON.stringify(cmd));
		};
	}
	addSession(ID);




	$(".dchildren").each(function () {
		var filter = {};
		var type = $(this).attr("data-type");
		if (type)
			filter.type = type;
		var template = $(this).attr("data-template");
		var sortby=$(this).attr("data-sort");
		getMyChildren($(this), filter, template,sortby);
	});





	function sortby(me) {
		$(".mychildren .node").remove();

		var neworderby = $(me).html();
		if (order_by == neworderby)
			desc = !desc;
		order_by = neworderby;
		//onOpen();
		wsChildren.onopen();
	}
	loadAttributes(ID);

	function initTabs() {
		$(".tab_view").each(
				function () {
					var that = $(this);
					var tablabel = $("<label>" + $(this).attr("data-icon")
							+ "<span>" + $(this).attr("data-label")
							+ "</span></label>");
					if (that.is(":visible"))
						tablabel.addClass("selected");

					$(".tabs").append(tablabel);
					tablabel.click(function () {
						$(this).siblings().removeClass("selected");
						$(this).addClass("selected");
						$(".tab_view").hide();
						that.show();
					});
				});
	}
	initTabs();
	function addMyChild(me) {
		var name = $("#" + $(me).attr("data-forname")).val();
		var type = $("#" + $(me).attr("data-fortype")).val();
		addChild(name, type, $(me), function (response) {
			//$(me).parent().parent().parent().find("table").append(response.htmlrow);
		});
	}
	for (var key in canContain) {
		if (canContain.hasOwnProperty(key)) {
			//var button = "<button for='newCategoryName' onclick=\"addMyChild(this,'"
			//		+ canContain[key] + "')\">" + key + "</button>";
			var option = "<option value=\"" + canContain[key] + "\">" + key
					+ "</option>";
			$("#newnode_type").append(option);
		}
	}
</script>
