
<style>
.node {
	display: inline-block;
	background-color: #999999;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-style: solid;
}

.node a {
	color: #000;
}

.core_Category {
	background-color: #99FF99;
}

div[class^='core_attribute'] {
	background-color: #FFFF99;
}

.shop_Product {
	background-color: #9999FF;
}

.core_Configurable_Product {
	background-color: #7777FF;
}

.core_Template {
	background-color: #77FFFF;
}

.core_Site {
	background-color: #FFFFFF;
}

.level {
	display: inline-block;
	background-color: #FFBBBB;
	padding: 10px;
	margin: 10px;
}

#context_menu {
	position: fixed;
	display: none;
	z-index: 1;
	background: #FFF;
}
</style>
<script>
	function openthis() {
		openme(this);
	}

	function onDragStart() {
		$(this).css({
			"z-index" : "1"
		});
	}

	function onDrag() {

	}

	function onDragStop() {
		$(this).css({
			"z-index" : "0"
		});
	}

	function onDrop(event, ui) {
		var that = $(this);
		drg = ui.draggable;
		if (confirm("copy to " + $(this).find("a").html() + "?"))
			copyNode($(ui.draggable).attr('value'), $(this).attr('value'),
					function(node) {
						var drgcopy = drg.clone()
						that.append(drgcopy);
						drgcopy.css({
							left : "",
							top : ""
						});
					});
		else
			$(this).css({
				"border-color" : "black"
			});

		drg.draggable('option', 'revert', true);

	}

	var timeout;
	function onOver(event, ui) {
		$(this).css({
			"border-color" : "#ffac47"
		});
		var that = $(this);
		/*timeout=setTimeout(function(){ 
			that.find("button").click(); 
		}, 2000);*/
	}

	function onOut(event, ui) {
		$(this).css({
			"border-color" : "black"
		});
		clearTimeout(timeout);
	}

	function openme(me) {
		$
				.post(
						"/admin/rest",
						{
							ID : $(me).val(),
							cmd : "getChildren"
						},
						function(responseText) {
							var children = JSON.parse(responseText);
							//$(me).parent().sortable();
							for ( var index in children) {
								var cat = children[index];
								var type = cat.type.replace(/\./g, "_");
								var $elements = $("<div class='"+type+" node' value="+cat.ID+">"
										//+ cat.link
										+ "<a href='/admin/graph?ID="
										+ cat.ID
										+ "'>"
										+ cat.name
										+ "</a>"
										+ "<br><button value="+cat.ID+">+</button><br></div>");
								$(me).parent().append($elements);

								$elements.find("button").on("click", openthis);
								$(me).html("-");
								$(me).attr('onclick', '').unbind('click');
								$(me).on("click", deleteme);
								$elements.draggable({
									revert : 'invalid',
									start : onDragStart,
									drag : onDrag,
									stop : onDragStop
								});

								$elements.droppable({
									greedy : true,
									drop : onDrop,
									over : onOver,
									out : onOut,
									accept : function(dropElem) {
										return !$(this).is(dropElem.parent());
									}
								});

							}
							//alert(responseText);

						});

	}
	function deleteme() {
		$(this).nextAll('div').remove();
		$(this).html("+");
		$(this).on("click", openthis);
	}
	var drg;
	$(function() {
		$("#root").draggable({
			revert : 'invalid',
			start : onDragStart,
			drag : onDrag,
			stop : onDragStop

		});
		$("#root").droppable({
			greedy : true,
			drop : onDrop,
			over : onOver,
			out : onOut,
			accept : function(dropElem) {
				return !$(this).is(dropElem.parent());
			}
		});
		$("#root").find("button").on("click", openthis);
		$("#root").find("button").click();
	});
	function move(me) {
		$("#context_menu").hide();
		drg.draggable('option', 'revert', true);

	}
	function copy(me) {
		$("#context_menu").hide();
		drg.draggable('option', 'revert', true);
	}
	function cancel(me) {
		$("#context_menu").hide();
		drg.draggable('option', 'revert', true);
	}
</script>
<div id="context_menu">
	<button onclick="move(this)">move</button>
	<br>
	<button onclick="copy(this)">copy</button>
	<br>
	<button onclick="cancel(this)">cancel</button>

</div>


<div class="node" id="root" value="0">
	<a href='/admin/graph?ID=<%=cat.getID()%>'>ROOT</a><br>
	<button value="0">+</button>
	<br>
</div>



<!-- /#page-content-wrapper -->


