.editable {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
}

#logButtonWrapper {
	float: right;
}

.usericons {
	float: right;
}

.dropdown-content-language {
	float: left;
}

.dropdown-content-language a {
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

.logowrapper img {
	width: 200px;
	height: auto;
}

.userinfo {
	font-size: 0.9em;
	color: #CCC;
	margin-right: 10px;
}

.userinfo a {
	text-decoration: none;
}

nav {
	padding: 10px 20px;
	background-color: #000;
}

#cart {
	float: right;
	padding: 10px;
	margin: 10px;
}

.navigation {
	list-style: none;
	padding-top: 20px;
	margin-bottom: -10px;
}

nav a {
	text-decoration: none;
	color: #fff;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover, nav a:active, nav a:focus {
	text-decoration: none;
	color: orange;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


nav.active a {
	color: #ccc;
}

#language {
	display: none;
}

/* MENU */
.changed {
	background: #FFFFAA;
}

nav a {
	display: block;
	text-align: center;
	padding: 15px;
}

.g-signin2 {
	float: right;
	margin: 15px;
	line-height: 0px;
}

.close_button {
	float: right;
}

.comment {
	background-color: #FFF;
	border-radius: 20px;
	padding: 10px;
	border-style: solid;
}

.comment .message {
	padding: 10px;
	line-height: 24px;
}

.comment>button {
	visibility: hidden;
}

.comment:hover>button {
	visibility: visible;
}

.comments {
	padding: 10px;
}

.diff {
	max-width: 30vw;
	max-height: 30vw;
}

.error, .removed {
	color: red;
}

.added {
	color: green;
}

nav {
	width: 100%;
}

button {
	padding: 10px;
}

h1, h2, h3 {
	font-size: 1em;
}

a {
	color: darkorange;
}

.dropdown_content {
	display: none;
}

.logout {
	float: right;
}

.name {
	font-weight: bold;
}

.info {
	display: inline;
	float: right;
	color: red;
}

/* VARIABLES */
/* BASE */
html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.4;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	overflow: hidden;
	*zoom: 1;
}

#wrapper {
	padding: 15px;
}

/*.site-content {
  padding-top: 66px;
}*/

/* HEADER */
.header {
	color: #000;
	background-color: #000;
}

.header__logo {
	font-weight: 700;
	padding: 0 25px;
	float: left;
}

/**************************************** TABELLE *****************************************/
.table {
	display: table;
	background: #fff;
	border-collapse: collapse;
	box-shadow: inset 0 1px 0 #fff;
	line-height: 14px;
	text-align: left;
	width: 100%;
}

.table_row {
	display: table-row;
}

.tbody {
	display: table-row-group;
}

.table_cell {
	display: table-cell;
	border: 1px solid #aaa;
	position: relative;
	transition: all 300ms;
	padding: 5px;
}

.table_head {
	background-color: #000;
	border: 1px solid #aaa;
	font-weight: bold;
	padding: 10px 5px;
	position: relative;
	color: #FFF;
}

th:after {
	background: linear-gradient(rgba(255, 255, 255, 0),
		rgba(255, 255, 255, .08));
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

td {
	border: 1px solid #aaa;
	position: relative;
	transition: all 300ms;
	padding: 5px;
}

td a, td a:visited {
	color: #000;
}

td a:hover {
	color: #f77c16;
}

/* Style the tab */
div.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #eee;
}

/* Style the links inside the tab */
div.tab a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
	background-color: #ddd;
}

.dropdown-content button {
	width: 100%;
}
/* Create an active/current tablink class */
div.tab a:focus, .active_tab {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: none;
	margin: 10px;
}

#children {
	display: block;
}

#page-content-wrapper {
	width: 100%;
}

#category_view_wrapper {
	display: inline-block;
	width: 100%;
	background: #eee;
	padding: 0px;
	margin: 0px;
}

#category_view {
	width: 100%
}

#explorer {
	vertical-align: top;
	width: 1%;
}

.node {
	margin-left: 10px;
}

/**************************************** FORMS *****************************************/
select {
	appearance: none;
	border: none;
	border-radius: 0;
	font-size: 0.9em;
	border: 1px solid #bbb;
	background-color: white;
	background-image: url(select-arrow.png);
	background-position: right;
	background-repeat: no-repeat;
}

select:hover {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

select::-ms-expand {
	display: none;
}

.lt-ie10 select {
	background-image: none;
}

button, .button {
	background-color: orange;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	border-radius: 2px;
	padding: 5px 8px;
	color: #fff;
	font-size: 0.9em;
	font-weight: 100;
	transition: all 0.3 ease;
	cursor: pointer;
	text-decoration: none;
}

.button-round {
	background-color: orange;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	border-radius: 40px;
	padding: 5px 8px;
	color: #fff;
	font-size: 0.9em;
	font-weight: 100;
	transition: all 0.3 ease;
	cursor: pointer;
	text-decoration: none;
}

button:hover, button:active, button:focus, .button:hover, .button:focus,
	.button:active, .button-round:hover, .button-round:active,
	.button-round:focus {
	color: #FFF;
	background-color: darkorange;
}

input {
	font-size: 1em;
        width: 100%;
}

#search {
	margin-top: 10px;
}

td>input[type=text] {
	width: 100%;
	box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.dropbtn {
	background-color: #eee;
	color: black;
	padding: 10px;
	font-size: 0.8em;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: darkorange;
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #eee;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #eee
}

.show {
	display: block;
}

/**************************************** Diverse *****************************************/
#arrow {
	font-size: 0.7em;
	margin: 5px;
}

h2.categories {
	font-size: 0.8 em;
}

#lastevent {
	position: absolute;
	right: 0px;
	background-color: #fff;
	color: #000;
	border-radius: 25px;
	margin: 10px;
	padding: 10px;
	z-index: 1000;
}

#picturesWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
	justify-content: flex-start;
}

.picture {
	position: relative;
	width: 200px;
	height: 300px;
	background: #eee;
	margin: 10px;
}

.picture img {
	height: 70%;
}

.picture button {
	position: absolute;
	right: 0;
}

/**************************************** Backend Formulare *****************************************/
.attribute_input {
	width: 400px;
}

[type=number] {
	width: 100px;
}

.split-screen {
	display: flex;
	flex-direction: row;
}

.address-table {
	width: 50%;
}

.attribute_input .position {
	width: 100px;
}

.preview_image img {
	width: 150px;
}

.narrow {
	width: 100px;
}

.tabs {
	
}

.tab_view {
	border-top: 1px solid #ddd;
	padding: 20px 0 0;
}

label span {
	margin: 10px;
}

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

label:hover {
	color: #888;
	cursor: pointer;
}

label.selected {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid orange;
	border-bottom: 1px solid #fff;
}

@media screen and (max-width: 650px) {
	label span {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	label {
		padding: 15px;
	}
}
/**************************************** RESPONSIVE ********************************************/
@media only screen and (max-width: 768px) {
	input {
		width: 100%;
		box-sizing: border-box;
	}
	.tabcontent {
		padding: 0px;
		margin: 0px;
	}
	.usericons {
		float: none;
	}
	#wrapper {
		padding: 0px;
		margin: 0px;
	}
	#explorer {
		display: none
	}
	#category_view_wrapper {
		width: 100%;
	}
	.table {
		display: block;
		background: #fff;
		border-collapse: collapse;
		box-shadow: inset 0 1px 0 #fff;
		line-height: 14px;
		text-align: left;
		width: auto;
	}
	.table_row {
		display: block;
		padding: 10px;
		margin: 10px;
		background: #eee;
		border-radius: 10px;
	}
	.table_cell {
		display: block;
		border: none;
		position: relative;
		transition: all 300ms;
	}
	.node {
		padding: 10px !important;
		margin: 10px !important;
	}
	.table_head {
		display: none;
		background-color: #aaa;
		border: 1px solid #aaa;
		font-weight: bold;
		padding: 10px 5px;
		position: relative;
		color: #FFF;
	}
	.site-pusher, .site-container {
		height: 100%;
	}
	.site-container {
		overflow: hidden;
	}
	.site-pusher {
		transition-duration: 0.3s;
		transform: translateX(0px);
	}
	.site-content {
		position: absolute;
		top: 66px;
		right: 0;
		left: 0;
		bottom: 0;
		padding-top: 0;
		overflow-y: scroll;
	}
	.header {
		position: static;
		height: 66px;
	}
	.header__icon {
		position: relative;
		display: block;
		float: left;
		width: 50px;
		height: 66px;
		cursor: pointer;
	}
	.header__icon:after {
		content: '';
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	}
	nav {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: #000;
		width: 250px;
		transform: translateX(-250px);
	}
	nav a {
		width: 100%;
		box-sizing: border-box;
	}
	.with--sidebar .site-pusher {
		transform: translateX(250px);
	}
	.with--sidebar .site-cache {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.picture_old {
		background: lightgray;
	}
}
